[user]
  name = Magnus Furnes Vadøy
  email = magnus.f.vadoy@gmail.com

[include]
  path = ~/.gitconfig_work

[core]
  excludesfile = ~/.gitignore_global
  ignorecase = false # avoid problems when changing a case of a filename
  pager = delta --syntax-theme gruvbox-material-dark

[interactive]
  diffFilter = delta --color-only --syntax-theme gruvbox-material-dark

[delta]
  navigate = true # use n and N to move between diff sections

[merge]
  conflictstyle = zdiff3

[status]
  # Show untracked files, directories and files in untracked directorie
  showUntrackedFiles = all

[push]
  # Push the current branch to the same branch on the remote
  autoSetupRemote = true

[pull]
  # Keep local commits on top of the tree
  rebase = true

[rebase]
  # Stash and pop uncommitted changes on rebase
  autoStash = true

[fetch]
  prune = true # Remove remote tracking branches that no longer exist on the remote
  pruneTags = true # Remove tags that no longer exist on the remote

[alias]
  amend = commit -v --amend
  amend-no-edit = commit --amend --no-edit
  reset-last-commit = reset HEAD~1
  hard-reset-last-commit = reset --hard HEAD~1
