set hlsearch
set incsearch
set ignorecase
set smartcase

set relativenumber
set number 

set clipboard+=unnamed

" GoTo keybindings
map gd <Action>(GotoDeclaration)
map gi <Action>(GotoImplementation)
map go <Action>(GotoTypeDeclaration)
map gr <Action>(GotoReferences)
map gf <Action>(GotoFile)
map gu <Action>(ShowUsages)
map gc <Action>(GotoClass)
map gt <Action>(GotoTest)

" Plugins
Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
Plug 'machakann/vim-highlightedyank'
